/* Styles for Text Adventure Game */
#story-text {
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
  opacity: 0.6 !important;
  animation: slide-left 10s;
}
button#undo {
  border: none;
  background: none;
  cursor: pointer;
}
button#undo:hover {
  border: none;
  background: #333;
  color: #fff;
}
#choices {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  white-space: nowrap;
}
#choices li {
  white-space: normal;
  padding: 0.5rem;
  background: #333;
  font-size: 0.9rem;
  cursor: pointer;
  margin: 1rem 0;
  opacity: 1 !important;
}
#choices li:hover {
  background: rgb(128, 95, 14);
  color: #fff;
  /* color: #333;
    background: #fff; */
}

h1,
h2 {
  font-family: Helvetica;
  color: burlywood;
  opacity: 2 !important;
}
body {
  position: fixed;
  inset: 0px;
  margin: auto;
  width: 80%;
  height: 80%;
  /* margin: 1rem auto; */

  padding: 4rem 4rem;
  /* background: #fafafa; */
  background: black;
  opacity: 1;
  color: white;
  font-family: Helvetica;
  border: 4px double #8e7418;
}

.scroll-text {
  width: 200px; /* Width of the scrolling text */
  display: inline-block;
  animation: scroll 10s linear infinite; /* Animation properties */
  white-space: nowrap;
}

.scroll-stop {
  width: 200px; /* Width of the scrolling text */
  display: inline-block;
  animation: scroll-stop 5s linear forwards; /* Animation properties */
  white-space: nowrap;
  overflow: hidden; /* Clip overflowing text */
}

@keyframes scroll-stop {
  0% {
    transform: translateX(100%);
  } /* Start from right */
  100% {
    transform: translateX(0%);
  } /* Move to left and stop */
}
html {
  background: #e8e8e8 url("../images/stars.jpg") no-repeat fixed center;
}
